<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haust_acm.mapper.ArticleMapper">
	<!--实体映射-->
	<resultMap id="base_result_map" type="com.haust_acm.entity.po.Article">
		<!--文章id-->
		<id property="articleId" column="article_id"/>
		<!--文章所属用户id-->
		<result property="userId" column="user_id"/>
		<!--文章的标题-->
		<result property="articleTitle" column="article_title"/>
		<!--文章的正文-->
		<result property="articleBody" column="article_body"/>
		<!--文章状态 0:正常,1:删除-->
		<result property="status" column="status"/>
		<!--文章发布时间-->
		<result property="publishTime" column="publish_time"/>
		<!--文章最近一次的更新时间-->
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<!--通用查询结果列-->
	<sql id="base_column_list">
		article_id,user_id,article_title,article_body,status,publish_time,update_time
	</sql>

	<!--基础查询条件-->
	<sql id="base_query_condition">
		<if test="query.articleId != null">
			and article_id = #{query.articleId}
		</if>
		<if test="query.userId != null">
			and user_id = #{query.userId}
		</if>
		<if test="query.articleTitle != null and query.articleTitle != ''">
			and article_title = #{query.articleTitle}
		</if>
		<if test="query.articleBody != null and query.articleBody != ''">
			and article_body = #{query.articleBody}
		</if>
		<if test="query.status != null">
			and status = #{query.status}
		</if>
		<if test="query.publishTime != null">
			and publish_time = #{query.publishTime}
		</if>
		<if test="query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
	</sql>

	<!--扩展的查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.articleTitleFuzzy != null and query.articleTitleFuzzy != ''">
			and article_title like concat('%',#{query.articleTitleFuzzy},'%')
		</if>
		<if test="query.articleBodyFuzzy != null and query.articleBodyFuzzy != ''">
			and article_body like concat('%',#{query.articleBodyFuzzy},'%')
		</if>
		<if test="query.publishTimeStart != null and query.publishTimeStart != ''">
			<![CDATA[ and publish_time >= str_to_date(#{query.publishTimeStart},'%Y-%m-%d')]]>
		</if>
		<if test="query.publishTimeEnd != null and query.publishTimeEnd != ''">
			<![CDATA[ and publish_time < date_sub(str_to_date(#{query.publishTimeEnd},'%Y-%m-%d'), interval -1 day)]]>
		</if>
		<if test="query.updateTimeStart != null and query.updateTimeStart != ''">
			<![CDATA[ and update_time >= str_to_date(#{query.updateTimeStart},'%Y-%m-%d')]]>
		</if>
		<if test="query.updateTimeEnd != null and query.updateTimeEnd != ''">
			<![CDATA[ and update_time < date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'), interval -1 day)]]>
		</if>
	</sql>

	<!--通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid="base_query_condition"/>
			<include refid="base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id = "selectList" resultMap = "base_result_map">
		SELECT <include refid = "base_column_list"/> FROM article <include refid = "query_condition"/>
		<if test="query.orderBy != null"> ORDER BY #{query.orderBy} </if>
		<if test="query.simplePage != null"> LIMIT #{query.simplePage.start},#{query.simplePage.end} </if>
	</select>

	<!--查询数量-->
	<select id = "selectCount" resultType = "java.lang.Long">
		SELECT COUNT(1) FROM article <include refid = "query_condition"/>
	</select>

	<!--插入(匹配有值的字段)-->
	<insert id = "insert" parameterType = "com.haust_acm.entity.po.Article">
		<selectKey keyProperty = "bean.articleId" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test= "bean.articleId != null">
				article_id, 
			</if>
			<if test= "bean.userId != null">
				user_id, 
			</if>
			<if test= "bean.articleTitle != null and bean.article_title != ''">
				article_title, 
			</if>
			<if test= "bean.articleBody != null and bean.article_body != ''">
				article_body, 
			</if>
			<if test= "bean.status != null">
				status, 
			</if>
			<if test= "bean.publishTime != null">
				publish_time, 
			</if>
			<if test= "bean.updateTime != null">
				update_time, 
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test= "bean.articleId != null">
				#{bean.articleId}, 
			</if>
			<if test= "bean.userId != null">
				#{bean.userId}, 
			</if>
			<if test= "bean.articleTitle != null and bean.article_title != ''">
				#{bean.articleTitle}, 
			</if>
			<if test= "bean.articleBody != null and bean.article_body != ''">
				#{bean.articleBody}, 
			</if>
			<if test= "bean.status != null">
				#{bean.status}, 
			</if>
			<if test= "bean.publishTime != null">
				#{bean.publishTime}, 
			</if>
			<if test= "bean.updateTime != null">
				#{bean.updateTime}, 
			</if>
		</trim>
	</insert>
	<!--插入或者更新(匹配有值的字段)-->
	<insert id = "insertOrUpdate" parameterType = "com.haust_acm.entity.po.Article">
		INSERT INTO article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test= "bean.articleId != null">
				article_id, 
			</if>
			<if test= "bean.userId != null">
				user_id, 
			</if>
			<if test= "bean.articleTitle != null and bean.article_title != ''">
				article_title, 
			</if>
			<if test= "bean.articleBody != null and bean.article_body != ''">
				article_body, 
			</if>
			<if test= "bean.status != null">
				status, 
			</if>
			<if test= "bean.publishTime != null">
				publish_time, 
			</if>
			<if test= "bean.updateTime != null">
				update_time, 
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test= "bean.articleId != null">
				#{bean.articleId}, 
			</if>
			<if test= "bean.userId != null">
				#{bean.userId}, 
			</if>
			<if test= "bean.articleTitle != null and bean.article_title != ''">
				#{bean.articleTitle}, 
			</if>
			<if test= "bean.articleBody != null and bean.article_body != ''">
				#{bean.articleBody}, 
			</if>
			<if test= "bean.status != null">
				#{bean.status}, 
			</if>
			<if test= "bean.publishTime != null">
				#{bean.publishTime}, 
			</if>
			<if test= "bean.updateTime != null">
				#{bean.updateTime}, 
			</if>
		</trim>
		ON DUPLICATE KEY UPDATE
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id = VALUES(user_id), 
			</if>
			<if test="bean.articleTitle != null and bean.article_title != ''">
				article_title = VALUES(article_title), 
			</if>
			<if test="bean.articleBody != null and bean.article_body != ''">
				article_body = VALUES(article_body), 
			</if>
			<if test="bean.status != null">
				status = VALUES(status), 
			</if>
			<if test="bean.publishTime != null">
				publish_time = VALUES(publish_time), 
			</if>
			<if test="bean.updateTime != null">
				update_time = VALUES(update_time), 
			</if>
		</trim>
	</insert>

	<!--添加(批量擦插入)-->
	<insert id="insertBatch" parameterType="com.haust_acm.entity.po.Article" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO article (user_id,article_title,article_body,status,publish_time,update_time) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.userId},#{item.articleTitle},#{item.articleBody},#{item.status},#{item.publishTime},#{item.updateTime})
		</foreach>
	</insert>

	<!--批量插入或更新-->
	<insert id="insertOrUpdateBatch" parameterType="com.haust_acm.entity.po.Article" useGeneratedKeys="true" keyProperty="user_id">
		INSERT INTO article (article_id,user_id,article_title,article_body,status,publish_time,update_time) VALUES
		<foreach collection="list" item="item" separator="," >
			(#{item.articleId},#{item.userId},#{item.articleTitle},#{item.articleBody},#{item.status},#{item.publishTime},#{item.updateTime})
		</foreach>
		ON DUPLICATE KEY UPDATE
		article_id = VALUES(article_id),
		user_id = VALUES(user_id),
		article_title = VALUES(article_title),
		article_body = VALUES(article_body),
		status = VALUES(status),
		publish_time = VALUES(publish_time),
		update_time = VALUES(update_time)
	</insert>

	<!--根据ArticleId查询-->
	<select id="selectByArticleId" resultMap="base_result_map">
		SELECT <include refid="base_column_list"/> FROM article WHERE article_id = #{articleId}
	</select>

	<!--根据ArticleId删除-->
	<delete id="deleteByArticleId">
		DELETE FROM article WHERE article_id = #{articleId}
	</delete>

	<!--根据ArticleId更新-->
	<update id="updateByArticleId" parameterType="com.haust_acm.entity.po.Article">
		UPDATE article
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId}
			</if>
			<if test="bean.articleTitle != null and bean.articleTitle != ''">
				article_title = #{bean.articleTitle}
			</if>
			<if test="bean.articleBody != null and bean.articleBody != ''">
				article_body = #{bean.articleBody}
			</if>
			<if test="bean.status != null">
				status = #{bean.status}
			</if>
			<if test="bean.publishTime != null">
				publish_time = #{bean.publishTime}
			</if>
			<if test="bean.updateTime != null">
				update_time = #{bean.updateTime}
			</if>
		</set>
		WHERE article_id = #{articleId}
	</update>


</mapper>
